Repository openshift/ptp-operator, pull requests merged in 2020-12, with the labels that each got.

#83 Bug 1897897: Add resource request for the linuxptp-daemon container
  bindata/linuxptp/ptp-daemon.yaml
Labels: approved, bugzilla/severity-high, bugzilla/valid-bug, lgtm

#84 Fixed discovery mode ptp tests for SNO.
  test/ptp/ptp.go
Labels: lgtm, ok-to-test

#85 Fixed test Slave can sync to master. Log changed
  test/ptp/ptp.go
Labels: lgtm, ok-to-test

#68 Typo in README.md
  README.md
Labels: approved, lgtm
