Repository openshift/ptp-operator, pull requests merged in 2022-08, with the labels that each got.

#204 Bug 2105584: fix out-of-bounds read in golang.org/x/text/language
  go.mod
  go.sum
  vendor/golang.org/x/text/internal/language/language.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
Labels: bugzilla/valid-bug, approved, lgtm, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#207 Running PTP conformance test in a container
  Dockerfile.conformancetests
  Makefile
  scripts/image.sh
  scripts/runtestcontainer.sh
  test/README.md
  test/utils/l2discovery/l2discovery.go
Labels: approved, lgtm, ok-to-test

#208 Dual NIC BC testing support and fast solver using backtracking
  api/v1/ptpconfig_webhook.go
  go.mod
  go.sum
  test/README.md
  test/conformance/ptp/ptp.go
  test/conformance/test_suite_test.go
  test/doc/bc_config.svg
  test/doc/bc_config_external.svg
  test/doc/bc_config_external_no_slave.svg
  test/doc/bc_config_no_slave.svg
  test/doc/multi_bc.svg
  test/doc/multi_bc_with_slave.svg
  test/doc/multi_dnbc.svg
  test/doc/multi_dnbc_with_slaves.svg
  test/doc/multi_oc.svg
  test/doc/oc_config.svg
  test/doc/oc_config_external.svg
  test/doc/sno_bc.svg
  test/doc/sno_dnbc.svg
  test/doc/sno_oc.svg
  test/utils/clean/clean.go
  test/utils/consts.go
  test/utils/l2discovery/l2discovery.go
  test/utils/testconfig/testconfig.go
  test/utils/testconfig/testconfig_test.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/value/name.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Labels: approved, lgtm, ok-to-test

#211 Using official l2 discovery image
  test/utils/l2discovery/l2discovery.go
Labels: approved, lgtm, ok-to-test

#209 http transport support to replace amq
  bindata/linuxptp/ptp-daemon.yaml
Labels: approved, lgtm
